pipeline/L2_Raw_Ingestion.json
{
	"name": "L2_Raw_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "LU_get_L2_type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct L2_switch_type from dbo.tbl_job a join dbo.tbl_trigger b on a.trigger_id = b.trigger_id where b.trigger_name = '@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Az_SQL_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch_Source",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LU_get_L2_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LU_get_L2_type').output.firstRow.L2_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "API",
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "Database",
							"activities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "Filestore",
							"activities": [
								{
									"name": "Wait3",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "CloudStorage",
							"activities": [
								{
									"name": "Exe_L3_CloudStorage",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L3_CloudStorage",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "SFTP",
							"activities": [
								{
									"name": "Wait4",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-09T17:47:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}