pipeline/L4_FileType.json
{
	"name": "L4_FileType",
	"properties": {
		"activities": [
			{
				"name": "LU_get_L4_type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct a.L4_Switch_type from dbo.tbl_job a\njoin dbo.tbl_trigger b on a.trigger_id=b.trigger_id\nwhere b.trigger_name='@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Az_SQL_DB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch_csv_excel",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LU_get_L4_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LU_get_L4_type').output.firstRow.L4_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "csv",
							"activities": [
								{
									"name": "Exe_csv_pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L5_csv",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "excel",
							"activities": [
								{
									"name": "Exe_excel_pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "L6_excel",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-09T17:47:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}